<div class="jumbotron jumbotron-foot" style="background-color: #f0ffff;">
<div class="container">
  <div class="row text-center">
    <div class="col-sm-12">
      <div class="foot_logo">
        <p><img src="{{ .Site.BaseURL }}images/logo_bl.png" alt="三共電気株式会社" title="三共電気株式会社" width="259" height="72" /></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 margin-t-20">
        <div class="footer-col">
          <ul class="list-unstyled contact">
            <li>
              <h3 style="margin:0px">三共電気株式会社</h3>
              <p>
              <div style="color:#666; padding: 0 0 0 5px;">　三共電気株式会社は、電材卸売の総合商社です。第一にお客様への奉仕を信条とし、社員全員が思う存分働くことができる環境作りを考え、今日まで順調な歩みを続けさせて頂いております。 </div>
              </p>
            </li>
          </ul>
        </div>
        <!--footer col--> 
      </div>
      <div class="col-sm-4 margin-t-20">
        <div class="footer-col">
          <ul class="list-unstyled contact">
            <li><span><strong><a href="{{ .Site.BaseURL}}office/fukuoka/"><i class="fa fa-flag"></i> 三共電気㈱ 本社</a></strong></span> <br>
              <span style="color:#666; padding: 0 0 0 10px;"> <small>〒819-0022 福岡市西区福重1丁目14-25</small></span> <br>
              <span style="color:#666; padding: 0 0 0 10px;"> TEL 092-883-8588 / FAX 092-883-8810</span> </li>
            <li><strong><a href="{{ .Site.BaseURL}}office/minami/"><i class="fa fa-flag"></i> 南営業所</a></strong> <br>
              <span style="color:#666; padding: 0 0 0 10px;"> <small>〒811-1201 福岡県那珂川市片縄1丁目70</small></span> <br>
              <span style="color:#666; padding: 0 0 0 10px;"> TEL 092-953-1215 / FAX 092-953-1570</span> </li>
            <li><strong><a href="{{ .Site.BaseURL}}office/higashi/"><i class="fa fa-flag"></i> 東営業所</a></strong> <br>
              <span style="color:#666; padding: 0 0 0 10px;"> <small>〒811-2305 粕屋郡粕屋町柚須十日田93-3</small></span> <br>
              <span style="color:#666; padding: 0 0 0 10px;"> TEL 092-623-7333 / FAX 092-623-7335</span> </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 margin-t-20">
        <div class="footer-col">
          <ul class="list-unstyled contact">
            <li><strong><a href="{{ .Site.BaseURL}}office/chikuhou/"><i class="fa fa-flag"></i> 筑豊営業所</a></strong> <br>
              <span style="color:#666; padding: 0 0 0 10px;"> <small>〒820-0071 福岡県飯塚市忠隈359-1</small></span> <br>
              <span style="color:#666; padding: 0 0 0 10px;"> TEL 0948-25-8133 / FAX 0948-25-8134</span> </li>
            <li><strong><a href="{{ .Site.BaseURL}}office/asakura/"><i class="fa fa-flag"></i> 朝倉営業所</a></strong> <br>
              <span style="color:#666; padding: 0 0 0 10px;"> <small>〒838-0065 福岡県朝倉市一木725番地1</small></span> <br>
              <span style="color:#666; padding: 0 0 0 10px;"> TEL 0946-23-1231 / FAX 0946-23-1221</span> </li>
            <li><strong><a href="{{ .Site.BaseURL}}office/okinawa/"><i class="fa fa-flag"></i> 沖縄営業所</a></strong> <br>
              <span style="color:#666; padding: 0 0 0 10px;"> <small>〒904-2143 沖縄県沖縄市知花５丁目35-27</small></span> <br>
              <span style="color:#666; padding: 0 0 0 10px;"> TEL 098-921-1839 / FAX 098-921-1880</span> </li>
            <li><span><strong><a href="{{ .Site.BaseURL}}office/sdlife_co_ltd/"><i class="fa fa-flag"></i> 株式会社エスディライフ</a></strong></span> <br>
              <span style="color:#666; padding: 0 0 0 10px;"> <small>〒819-0022 福岡市西区福重1丁目14-25</small></span> <br>
              <span style="color:#666; padding: 0 0 0 10px;"> TEL 092-894-1521 / FAX 092-894-1522</span> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/jumbtron-->

<!--下のメニュー▼-->
  <div class="container">
    <div class="row">
      <ol class="breadcrumb text-center">
        <li><a href="{{ .Site.BaseURL}}/"> ホーム </a></li>
        <li><a href="{{ .Site.BaseURL}}vision/">理念</a></li>
        <li><a href="{{ .Site.BaseURL}}company/">会社案内</a></li>
        <li><a href="{{ .Site.BaseURL}}office/">事業所案内</a></li>
        <li><a href="{{ .Site.BaseURL}}business/">事業案内</a></li>
        <li><a href="{{ .Site.BaseURL}}recruit/">採用情報</a></li>
        <li><a href="{{ .Site.BaseURL}}inquiry/">お問い合せ</a></li>
        <li><a href="{{ .Site.BaseURL}}sitemap/">サイトマップ</a></li>
      </ol>
    </div>
    <!--/row--> 
  </div>
  <!--/container--> 

<!-- FOOTER -->
<div class="container-fluid footer_copy"> <small><a href="/" class="p_copy">Copyright © 2016 SANKYO ELECTRONICS CO.,LTD. All Rights Reserved</a></small> </div>
<!--ページトップへ戻るボタン▼ -->
<div id="page-top" class="page-top">
	<p><a id="move-page-top" class="move-page-top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a></p>
</div>
<!-- / ページトップへ戻るボタン▲ --> 

<!-- / FOOTER -->