<meta charset="utf-8">
<base href="{{ .Site.BaseURL }}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile settings -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

<meta name="pinterest" content="nopin">
<meta name="theme-color" content="#263238">

<link rel="icon" type="image/vnd.microsoft.icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}images/favicon.ico">
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ . }}">