@charset "UTF-8";
/* CUSTOMIZED CSS */
html, body {
  font-family: ŸàƒSƒVƒbƒN‘Ì, 'Yu Gothic', YuGothic, 'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN Pro', 'Hiragino Kaku Gothic Pro', ƒƒCƒŠƒI, Meiryo, Osaka, '‚l‚r ‚oƒSƒVƒbƒN', 'MS PGothic', sans-serif;
}

@media (max-width:  768px)  {
}

@media (min-width: 767px) {
	.pull-sm-left {
		float: left;
	}
	.pull-sm-right {
		float: right;
	}
	.media > .pull-sm-left {
		margin-right: 10px;
	}
	.media > .pull-sm-right {
		margin-left: 10px;
	}
}
@media (max-width: 768px) {
	.media > .pull-sm-left, .media .pull-sm-right {
		margin-bottom: 10px;
	}
}

header {
  padding-top: 50px;
}

main {
}

.navbar {
  font-family: 'Noto Sans','Hiragino Kaku Gothic Pro',ƒƒCƒŠƒI,Meiryo,sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1rem;
}

.navbar-brand {
  padding: 9px;
}

.navbar-brand img {
  position: relative;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* ƒiƒrƒo[‚ÌF */
.navbar-default {
  background-color: #8fd1fd;
  border-color: #c5e0ff;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #499bff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #499bff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #8fd1fd;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #499bff;
  background-color: #c5e0ff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #c5e0ff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #499bff;
  background-color: #499bff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #499bff;
  background-color: #c5e0ff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #499bff;
  background-color: #c5e0ff;
}
.navbar-default .navbar-toggle {
  border-color: #c5e0ff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c5e0ff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #499bff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #499bff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #499bff;
    background-color: #c5e0ff;
  }
}

/* ƒRƒs[ƒ‰ƒCƒg‚Ì‚Æ‚±‚ë */
footer {
	background-color: #f0ffff;
}
.jumbotron-foot {
	padding-bottom: 0px;
}
footer .breadcrumb {
  background-color: #f0ffff;
  margin: 20px 0px;
}
.footer_copy {
	text-align: center;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	background: #00a7ea;
}
.footer_copy a:link {color:#ffffff;}
.footer_copy a:visited{color:#ffffff;} 
.footer_copy a:hover{color:#23527C;text-decoration:none;} 
.footer_copy a:active{color:#23527C;text-decoration:none;}
.footer_copy a:focus{color:#23527C;text-decoration:none;}

footer.breadcrumb  {
	margin: 20px 0px;
}

.article-blog-body * {
	margin: 0px 10px 10px 10px;
}

.article-blog-body h1 {
	font-family: "Times New Roman", "Ÿà–¾’©", "Yu Mincho", "Ÿà–¾’©‘Ì", "YuMincho", "ƒqƒ‰ƒMƒm–¾’© Pro W3", "HGS–¾’©E", "‚l‚r ‚o–¾’©", serif;
	font-weight: 400;
	font-size: 30px;
	margin: 0px 0px 10px 0px;
	padding: .5em .75em;
	background: -webkit-linear-gradient(top, #b1dffe 0%, #61befc 100%);
	background: linear-gradient(to bottom, #b1dffe 0%, #61befc 100%);
	border-radius: 5px;
	color: #000;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.article-blog-body h2 {
	font-family: "Times New Roman", "Ÿà–¾’©", "Yu Mincho", "Ÿà–¾’©‘Ì", "YuMincho", "ƒqƒ‰ƒMƒm–¾’© Pro W3", "HGS–¾’©E", "‚l‚r ‚o–¾’©", serif;
	font-weight: 400;
	font-size: 22px;
	margin: 0px 10px 10px 10px;
	padding: .2em .5em;
	background: -webkit-linear-gradient(top, #b1dffe 0%, #61befc 100%);
	background: linear-gradient(to bottom, #b1dffe 0%, #61befc 100%);
	border-radius: 2px;
	color: #333;
	text-shadow: none;
}

.article-blog-body img {
	margin: 0px 0px 0px 0px;
	display: block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.info-subbox {
	margin: -20px 10px 0 0;
	color: #888;
}

.article-footer {
    background-color: inherit;
}

.rich_font {
    font-family: "Times New Roman", "Ÿà–¾’©", "Yu Mincho", "Ÿà–¾’©‘Ì", "YuMincho", "ƒqƒ‰ƒMƒm–¾’© Pro W3", "HGS–¾’©E", "‚l‚r ‚o–¾’©", serif;
    font-weight: 400;
}

footer .jumbotron {
    margin-bottom: 0px;
}

.table_01 small {
    display: inline-block;
    width: 76px;
}

/* ƒAƒjƒ[ƒVƒ‡ƒ“‚Ì˜g */
#my-anim {
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
/* top ‚â left ‚È‚Ç‚Ìâ‘ÎˆÊ’u‚ÅƒAƒjƒ[ƒVƒ‡ƒ“‚³‚¹‚é */
#my-anim img, #my-anim p, #my-anim h3{
    position: absolute;
}
/* ‰æ‘œ‚Í‘S‚Ä“§–¾‚É‚µ‚Ä‚¨‚­ */
#my-anim img{
    opacity: 0;
    -moz-opacity: 0; /*for Firefox*/
    filter: alpha(opacity=0); /*for IE*/
}
#anim1 {
    top: 45%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#anim2 {
    top: 40%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#anim3 {
    top: 30%;
    left: 50%;
    width: auto;
    height: 50vh;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
#anim4 {
    top: 45%;
    left: 50%;
    width: auto;
    height: 80%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#anim5 {
}
#anim6 {
    height: 100%;
    width: 100vw;
}
#anim7 {
    width: 100vw;
}

/* END of CUSTOMIZED CSS */