{{ define "title" }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ end }}

{{ define "main" }}
{{ partial "breadcrumb.sdkk.html" . }}

<div class="row">
  <div class="col-sm-9">

    {{ if not .IsHome }}
    <div class="page-header2 text-left">
      <h2 class="headline rich_font h1_title">{{ i18n (lower .Title) . | default .Title }}</h2>
    </div>
    {{ end }}

    <div class="row text-center">
      {{ range $i, $p := (.Paginate .Data.Pages).Pages }}
      <div class="col-sm-6 col-xs-12">{{ $p.Render "li.sdkk" }}</div>
      {{ if eq (mod (add $i 1) 2) 0 }}<div class="col-sm-12"></div>{{ end }}
      {{ end }}
    </div>

    {{ partial "pagination_list.html" . }}
  </div>
  <div class="col-sm-3">
    {{ partial "sidebar.sdkk.html" . }}
  </div>
</div>
{{ end }}
