<section class="note margin-t-20">
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
<img src="blog/images/yyyymmdd.jpg" class="img-responsive img-thumbnail" alt="先輩社員の声" align="left">
<p>体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。</p>
  </div>
</div>
</section>

<section class="note margin-t-20">
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
<div class="center-block"><img src="blog/images/yyyymmdd.jpg" class="img-responsive img-thumbnail center-block" alt="先輩社員の声"></div>
<div >111体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。</div>
  </div>
</div>
</section>

<section class="note margin-t-20">
<div class="row">
  <div class="col-sm-4 col-sm-offset-1">
<img src="blog/images/yyyymmdd.jpg" class="img-responsive img-thumbnail pull-right" alt="先輩社員の声">
  </div>
  <div class="col-sm-6">
<p>111体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。</p>
  </div>
</div>
</section>

<section class="note margin-t-20">
<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
<p>111体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。体にも脳ミソにも汗をかかせ、お客様に満足して頂き「結果が出る仕事」を行っていきます。images/recruit_06.jpg</p>
  </div>
  <div class="col-sm-4">
<img src="blog/images/yyyymmdd.jpg" class="img-responsive img-thumbnail pull-left" alt="先輩社員の声">
  </div>
</div>
</section>
